<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>HpLabs Project</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" />
		<script src="js/jquery-2.1.4.js"></script>
		<script src="js/chart.js"></script>

		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Hp Labs Project
                </a>
            </div>

            <ul class="nav">
                <li class="active">
									<li <% if (page_name === 'index') { %>class="active" <% } %>>
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Single File Upload</p>
                    </a>
                </li>
                <li <% if (page_name === 'combine_charts') { %>class="active" <% } %>>
                    <a href="/combine_charts">
                        <i class="pe-7s-graph2"></i>
                        <p>Combine Charts</p>
                    </a>
                </li>
                <li <% if (page_name === 'student_information') { %>class="active" <% } %>>
                    <a href="/student_information">
                        <i class="pe-7s-user"></i>
                        <p>Student Information</p>
                    </a>
                </li>
                <li <% if (page_name === 'documentation') { %>class="active" <% } %>>
                    <a href="/documentation">
                        <i class="pe-7s-file"></i>
                        <p>Project Documentation</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Hp Labs Dashboard</a>
                </div>
            </div>
        </nav>

        <%- body %>


        <footer class="footer">
            <div class="container-fluid">

                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</body>
  <!--   Core JS Files   -->
  <!-- <script src="/js/jquery-1.10.2.js" type="text/javascript"></script> -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/js/bootstrap-notify.js"></script>
  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/js/light-bootstrap-dashboard.js"></script>

</html>
